
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to right, black, rgba(26, 26, 101, 0.863), black);
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 20px;
}

.imdb-logo {
    color: black;
    background-color: rgb(255, 208, 0);
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding: 3px 6px;
    border-radius: 5px;
    letter-spacing: -0.8px;
}

.search {
    height: 50%;
    width: 40%;
    padding: 7px 7px 7px 15px;
    border: 2px solid rgb(255, 208, 0);
    border-radius: 4px;
    margin: 0 50px 0 50px;
}

.favorites {
    font-size: 18px;
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin-right: 20px;
}

.sign-in {
    font-size: 17.5px;
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.menu {
    background-color: rgb(255, 208, 0);
    height: 18px;
}