@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Roboto:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: larger;
}

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(black, rgb(76, 73, 73), black);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding: 30px;
}

.logo {
  color: black;
  background-color: rgb(205, 169, 7);
  font-family: "Inter", sans-serif;
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
  letter-spacing: -0.8px;
  padding: 3px 6px;
  margin: 0 auto 0 100px;
}

.favorites,
.home {
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: rgb(209, 205, 205);
  font-family: "Roboto", sans-serif;
  padding: 7px;
  border: 1px solid rgb(148, 147, 147);
}

.favorites {
  margin-right: 150px;
}

.home {
  margin-right: 40px;
}

.favorites:hover {
  color: rgb(205, 169, 7);
  border: 1px solid rgb(205, 169, 7);
  transition: 0.4s;
}

.home:hover {
  color: rgb(205, 169, 7);
  border: 1px solid rgb(205, 169, 7);
  transition: 0.4s;
}

/* style the search */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.search-input {
  height: 45px;
  font-size: 20px;
  width: 40%;
  padding: 7px 7px 7px 15px;
  border: none;
  border-left: 8px solid rgb(205, 169, 7);
  background-color: rgb(218, 214, 210);
}

/* serach results */
.search-results {
  font-family: "Inter", sans-serif;
  font-weight: 100;
  font-size: 0.5rem;
  color: black;
  background-color: rgb(218, 214, 210);
  width: 40%;
  max-height: 70vh;
  margin: 0.5rem auto 0 auto;
  overflow-y: scroll;
}

.movie {
  display: flex;
  width: 100%;
  padding: 0.5rem;
  border-bottom: 1px solid rgb(205, 169, 7);
}

.movie:hover {
  background-color: rgb(177, 173, 173);
}

img {
  width: 80px;
  border-radius: 0.2rem;
}

.movie-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 0.5rem;
}

.movie-year {
  font-weight: 400;
}

.favourite {
  font-family: "Inter", sans-serif;
  font-size: 0.6rem;
  font-weight: 600;
  padding: 0.35rem;
  background-color: rgb(205, 169, 7);
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
}

.favourite:hover {
  border: 1px solid black;
  opacity: 0.7;
  transition: 0.1s;
}
